body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.dashboard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: auto; */
    margin: auto;
    max-width: 800px;
    text-align: center;
}
#map {
    margin: auto;
    height: 300px; /* Set the height of the map */
    /* max-width: 300px; */
}
.logo
{
  max-width: 30px;
  margin: 0 5px;
}
#contact-container
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li
{
  display: inline-block;
  margin: 0 20px;
}
.qr-code{
  max-width:300px;
}
#profile-photo
{
  max-width: 200px;
  border-radius: 1000px;
}
button
{
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
.id, .username
{
  display: none;
}
#lot-container
{
  /* width:50%; */
  margin: auto;
}
.add-button::after
{
  content: 'Add an Item'
}
.edit-button::after
{
  content: 'Edit';
}
.delete-button::after
{
  content: 'Delete';
}
#signup-container, #login-container {
    margin: 40px auto auto auto;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#signup-container h2, #login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
#signup-container input, #login-container input {
    font-size: 1.05em;
    width: 90%;
    padding: 10px 5%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#signup-container button, #login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#signup-container button:hover, #login-container button:hover {
    background-color: #45a049;
}
#user-access-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
