body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.dashboard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: auto; */
    margin: auto;
    max-width: 800px;
    text-align: center;
}
#map {
    margin: auto;
    height: 250px; /* Set the height of the map */
    /* max-width: 300px; */
}
.logo
{
  max-width: 35px;
  margin: 0 5px;
}
#contact-container
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1
{
  margin: 5px;
}
h1, #logout-form, #update-contact-button, #contact-container
{
  display: inline-flex;
}
#logout-form,
{
  position: relative;
  bottom: 5px;
}
#update-contact-button
{
  position: relative;
  bottom: 12px;
}
li
{
  display: inline-block;
  /* margin: 10px 10px; */
}
.qr-code{
  max-width:300px;
}
#profile-photo
{
  max-width: 200px;
  border-radius: 1000px;
}
button
{
  padding: 5px;
  margin: 10px 5px;
  border-radius: 4px;
}
.id, .username
{
  display: none;
}
#lot-container
{
  /* width:50%; */
  margin: auto;
}
.add-button::after
{
  content: 'Add an Item'
}
.edit-button::after
{
  content: 'Edit';
}
.delete-button::after
{
  content: 'Delete';
}
#signup-container, #login-container {
    margin: 40px auto auto auto;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
input
{
    font-size: 1.05em;
    width: auto;
    padding: 10px 4px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: auto;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #444;
}
#user-access-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
